@{
    Layout = null; // We not using page master for page creating
}

<DOCTYPE html>
  <html>
<head>
    <title>
        Index
    </title>
</head>

<body>
<h3>Online Shop "Vah kakoy Cumberbatch"</h3>

    <br />
<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Age</td>
            <td>Price</td>
            <td>&nbsp;</td>
        </tr>
    </thead>
    <tbody>
        @{ 
            foreach (var actor in ViewBag.Actors)
            {
        <tr>
            <td>@actor.Name</td>
            <td>@actor.Age</td>
            <td>@actor.Price</td>
            <td><a href="/Home/Buy/@actor.Id">Buy</a></td>
        </tr>
            }
        }
    </tbody>
</table>
</body>
</html>