<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="~/Content/Site.css"
    <title></title>
</head>
<body>
    <div>

        @Html.ActionLink("Main page", "Index", "Home")

        @Html.ActionLink("List", "List", "Home")

        @RenderBody()
    </div>
</body>
</html>
